.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.line {
    flex: 1;
    height: 1px;
    background-color: white;

}

.line-text {
    margin: 0 10px;
    white-space: nowrap;
    font-size: 16px;
    color: white;
}