@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: #ebdeb7;
  --color2: #1E2A5E;
  --color3: #55679C;
  --color4: #7C93C3;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: var(--color2);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100vh;
  width: 100vw;


}